@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
*{
margin:0;
box-sizing: border-box;
color: black;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* background-color:ECFAE5; */
}

nav>h2{
    background-color:#4ED7F1;
    height: 20vh;
    display: flex;
  font-family: "Edu NSW ACT Cursive", cursive;

    justify-content: center;
    color: white;
    align-items: center;
    font-size: 60px;
    /* font-weight: 900; */

}

header{
    background-color:#A8F1FF;
    height: 20vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header>h3{
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 600;
  font-size: 30px;
  color: red;
  border-top: 3px solid black;
border-bottom: 3px solid black;
}

header>p{
    /* font-family: 'Times New Roman', Times, serif; */
     font-family: "Dancing Script", cursive;
    color:black;
    font-weight: 800;
    font-size: 20px;
    
}

section{
    background-color: #BDDDE4;
    display: flex;
    /* height: 80vh; */
    padding: 30px;
    justify-content: center;
    align-items: center;
    /* column-gap: 20px; */
    flex-wrap: wrap;
}

.card_container{
    width: 370px;
    height: 190px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
}

.card_one{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card_two {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 15px;
    /* background-color: */
}

.card_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 300;

}

.card_title{
    font-size: 20px;
}

.image_pic{
    height: 170px;
    width: 170px;
    border-radius: 10px;

}

footer{
    /* height: 16vh; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 16px;
/* font-size: 20px; */
background-color: #FED2E2;
}

footer>p{
  font-family: "Edu NSW ACT Cursive", cursive;
}

footer>button{
    height: 40px;
    width: 90px;
    border-radius: 20px;
}

footer>button:hover{
    background-color:grey;
    border-radius: 10px;

}

@media (min-width:350px)  and (max-width:440px){
    nav{
height: 12vh;
    }
    nav>h2{
        font-size: 25px;
        word-spacing: 9px;
    }

    header>h3{
        font-size: 35px;
        word-spacing: 3px;
    }
    header>p{
        font-size: 16px;
        word-spacing: 1px;
    }
    footer>{
        font-size: 10px;
    }
}